<%= render 'header' %>
        <div id="news">
          <% @news_items = @site.items.reject! { |item| item[:type] != "news" } %>
          <% @news_items.sort_by! { |item| Date.parse(item[:date]) } %>
          <%= @news_items.last.raw_content %>
        </div>
        <hr />
        <div class="description prefix_1 suffix_1">
          <h2>My name is David Gwilliam. I'm a DevOps professional and an amateur Ruby developer.</h2>
          <p>I live, sleep, and breathe the internet.</p>
        </div>
      </div>
      <hr />
      <div id="linklist" class="prefix_1 suffix_1">
        <ul>
          <li><a href="http://www.twitter.com/dhgwilliam">Twitter</a></li>
          <li><a href="http://copygr.am/dhgwilliam/">Instagram</a></li>
          <li><a href="http://last.fm/user/gwydion200">Last.fm</a></li>
          <li><a href="http://usererror.posterous.com">Blog</a></li>
          <li><a href="http://www.facebook.com/dhgwilliam">Facebook</a></li>
          <li><a href="http://www.delicious.com/gwilliam">Delicious</a></li>
          <li><a href="http://www.quora.com/david-gwilliam">Quora</a></li>
          <li><a href="http://stellar.io/dhgwilliam">Stellar.io</a></li>
          <li><a href="http://github.com/dhgwilliam">Github</a></li>
          <li><a href="http://www.linkedin.com/pub/david-gwilliam/5/3b6/421">LinkedIn</a></li>
        </ul>
      </div>
<%= render 'footer' %>
