<%= render 'header', :title => 'David Gwilliam - DevOps professional and amateur Ruby developer - Portland, OR' %>
      <div id="content" class="grid_8 prefix_2 suffix_2">
        <div id="news">
          <% @news_items = @site.items %>
          <% @news_items.reject! { |item| item[:type] != 'news' } %>
          <% if @news_items %>
            <% @news_items.sort_by! { |item| Date.parse(item[:date]) } %>
            <%= @news_items.last.compiled_content %>
          <% end %>
        </div>
        <hr />
        <div class="description prefix_1 suffix_1">
          <h2>My name is David Gwilliam. I'm a DevOps professional and an amateur Ruby developer.</h2>
          <p>I live, sleep, and breathe the internet.</p>
        </div>
      </div>
      <hr />
<%= render 'footer' %>
