<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
	"http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title><%= @title %></title>
		<link rel="stylesheet" href="/css/960.css" type="text/css" media="screen"> 
		<link rel="stylesheet" href="/css/text.css" type="text/css" media="screen"> 
		<link rel="stylesheet" href="/css/reset.css" type="text/css" media="screen"> 
		<link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen"> 
		<script type="text/javascript" src="http://use.typekit.com/upu8ots.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	</head>
	<body>
		<div id="container" class="container_12">
			<div id="header" class="grid_12">
        <a href="/"><img src="http://a2.twimg.com/profile_images/215100782/and_bigger.jpg" /></a><hr>
        <strong><a href="/"><%= @item[:full_name] %></a></strong><br />
        <em><%= @item[:email] %></em>
			</div>
			<hr>

